<div class="div-body-login">

    <div class="div-grid-items">
        <div class="one-icon">
            <div class="div-icon">
                <div><img src="./../../../../assets/logo-coink-d.png" alt="Icono coink"></div>
            </div>
            
        </div>
        <div class="two-name"><h1>coink <br> <h6>empresas</h6></h1></div>
        <div class="three-form">
            <div class="div-form">
                <div class="div-in-form">
                    <div class="div-img-shield"><img src="./../../../../assets/shield.svg" alt="slied img"></div>
                    <div class="div-in-form-title">
                        <h1><strong> ingreso seguro</strong></h1>
                    </div>
                    <div class="div-in-form-message">
                       <p><strong>Un código de verificación fue enviado a tu correo, <br> porfavor introdúcelo.</strong> </p>
                    </div>

                    <div class="div-in-form-code">
                            <mat-form-field >
                                <input matInput placeholder="Ingresa tu código de verificación" value="">
                              </mat-form-field>
                         
                    </div>
                
                    
                    <div class="div-in-form-login">
                        <button class="btn btn-primary">entrar</button>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="four-vinculation"><a href="">¿Quieres vincular tu empresa a Coink?</a></div>
    </div>
    
</div>
