/*---------- Generales ----------------------*/
p{
    color: black;
}

table {
    width: 100%;
  }
/*---------- Filtros ----------------------*/


/*---------- Reportes ----------------------*/
td,th,mat-paginator{
    background-color: white;
    color: black;
}


.mat-card-reports{
    min-width: 430px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 9px 0px rgba(50, 50, 50, 0.75);
}


/*---------- Descarga ----------------------*/
.download button{
    background-color: #004B40;
    color: white;
    min-width: 150px;
}
.download{
    margin: 3% 0%;
    
}

/*para desktop*/
@media(min-width: 769px){

    .div_filters{
        display: grid;
        grid-template-columns: 25% 55% 20%;
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 30px;
    }
   .one{
        grid-column: 1;
        grid-row: 1;
   }

   .one mat-form-field{
  
    width: 79%;
    min-width: 150px;
}
   .two{
        grid-column: 3;
        grid-row: 1;
        text-align: end;
        
    }
    .two button {
        max-width: 80%;
        width: 70%;
        min-width: 150px;
        background-color: #004B40
    }
    .three{
        grid-column: 1;
        grid-row: 2;
        color: black;
        border-color: black;
        min-width: 150px;
    }
   .div-mat-icon-search{
        margin-left: 10px;
        margin-right: 5px;
        width: 25px;

   }
   .div-three{
        display: inline-block;
        vertical-align: middle;
   }
    .div-mat-form-field-campo{
        max-width: 80%;
        width: 78%;
        min-width: 120px;
      
    }
    .three mat-form-field{
        width: 100%;
    }
 
   
   
    .four{
        grid-column: 2;
        grid-row: 2;

    }

    .four .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
     .four  .example-full-width {
        width: 100%;
      }
    .five{
        grid-column: 3;
        grid-row: 2;
        text-align: end;
        
    }
    .five button {
        max-width: 80%;
        width: 70%;
        min-width: 150px;
        background-color: #1eeb00;
    }
    

}
/*para moviles*/
@media(max-width: 768px){
    .mat-card-reports,div-reports{
        overflow: scroll;
    }


    .div_filters{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 1fr);
       
    }


    /*filtro de fechas*/

    .one{
        grid-column: 1;
        grid-row: 1;
   }
   .one mat-form-field{
        width: 79%;
        min-width: 200px;
   }
 /* parte del limpiar filtro */

    .two{
        grid-column: 1;
        grid-row: 5;
        
        
    }
    .two button {
        max-width: 160px;
        width: 40%;
        min-width: 150px;
        background-color: #004B40;
        margin-left: 39px;
    }


    /* parte del filtro campo*/

    .three{
        grid-column: 1;
        grid-row: 2;
        color: black;
        border-color: black;
        min-width: 261px;
    }
   .div-mat-icon-search{
        margin-left: 10px;
        margin-right: 5px;
        width: 25px;

   }
   .div-three{
        display: inline-block;
        vertical-align: middle;
   }
    .div-mat-form-field-campo{
        width: 78%;
        min-width: 200px;
      
    }
    .three mat-form-field{
        width: 100%;
    }


    /*input de buscar*/
    .four{
        grid-column: 1;
        grid-row: 3;

    }

    .four .example-form {
        min-width: 150px;
        max-width: 400px;
      
      
      }
      
     .four  .example-full-width {
        margin-left: 39px; 
        width: 79%;
      }

    /*boton buscar*/
    .five{
        grid-column: 1;
        grid-row: 4;
        
        
    }
    .five button {
        max-width: 160px;
        width: 40%;
        min-width: 150px;
        background-color: #1eeb00;
        margin-left: 39px;
    }

}