.div-body-login{
    min-width: 360px;
    padding-top: 2%;
    height: 87%;
    /*background-color: #004B40;*/
    background-color: #004B40;
    color: white;
    width: 100%;
}

/*SOLO FUENTES*/
.div-in-form-title h1{
    font-family: 'Montserrat', sans-serif;
}


.div-grid-items{
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    width: 80%;
    margin: auto;
   
}

.one-icon img{
    max-width: 80px;
    width: 50%;
    min-width: 40px;
}

.one-icon{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin: 0% 10%;
}

.two-name h1{
    font-family: 'Potta One', cursive;
    color: #1eeb00;
    text-transform: uppercase;
    text-align: center;
}

.two-name h6{
    
    margin-left: 1.5%;
    letter-spacing: 0.58em;
}
.three-form{
    margin: 3% 0%;
    
}


.div-form{
    min-width: 370px;
    width: 40%;
    max-width: 400px;
    background-color: white;
    border: solid #1eeb00;
    margin: auto;
    height: 100%;
    min-height: 300px;
    max-height: 320px;
}

.four-vinculation{
    text-align: center;
}
.four-vinculation a{
    color: white;
    font-family: 'Josefin Slab', serif;
    text-decoration-line: underline;
    font-size: 12px;
}


/*DENTRO DEL FORMULARIO*/

.div-in-form{
    margin: 5% 15%;
    width: 70%;

    height: 90%;
}
.div-in-form-title h1{
   
    color:#004B40;
    text-transform: uppercase;
    font-size: 20px;   
}

.div-in-form-title {
    margin: auto;
    
}

.div-in-form-user mat-form-field{
    width: 97%;
}


.div-in-form-login button{
    background-color: #1eeb00;
    color: #004B40;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: smaller;
    width: 50%;
    border-radius: 100px;
    

}
.div-in-form-links a{
color: #8D8D8D;
text-decoration-line: underline;
}
.div-links{
    margin-top: 4%;
}

/*-----------------PARA DESKTOP-----------------*/
@media(min-width: 601px){
    .div-grid-items{
        grid-template-rows: 14% 9% 67% 10%;
    }
  

}

/*-----------------PARA MOVILES-----------------*/
@media(max-width: 600px){
    .div-body-login{
        height: 90%;
        /*background-color: #004B40;*/
    }
    .div-grid-items{
        grid-template-rows: 15% 10% 60% 5%;
    }
    /*dentro del formulario*/
    .div-in-form-title h1{
  
        color:#004B40;
        text-transform: uppercase;
        font-size: larger;   
    }
   
    .div-form{
        min-width: 200px;
        width: 100%;
        background-color: white;
        border: solid #1eeb00;
        margin: auto;
        height: 100%;
        min-width: 250px;
    }

}